*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: white;
    padding: 20px 0;
    color: black;
    max-width: 1440px;
}
.menu{
    max-width: 1440px;
    height: 56px;
    margin-top: 13px;
    margin-left: 48px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link{
    margin-right: 48px;
}
.header-right{
    position: absolute;
    height: 56px;
    width: 723px;
   margin-left: 600px;
    top: 28px;   
    display: flex; 
    align-items: center;
}
.links{
    margin-left: 20px;
    vertical-align: middle;
    text-decoration: none;
}
.book{
height: 56px;
width: 145px;
background: #007188;
border-radius: 5px;
text-align: center;
}
.book-text{
    position: absolute;
height: 27px;
top: 13px;
margin-left: 24px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}
.why{
width: 97px;
height: 27px;
left: 240px;
top: 15.2px;
display: flex;
}
.arrow{
    margin-top: 5px;
    margin-left: 5px;
    left: 337px;
}
.buttons{
height: 27px;
top: 15.2px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 26px;
color: black;
}
.promo{
    background-color: #FFF3F1;
    align-items: center;
    margin:0 auto;  
    max-width: 1440px;
    justify-content: center;
    display: flex;
}
.promo-wrap{
    background-image: url(../img/Hero-image.png);
    min-height: 1000px;
    width: 1440px;
    background-position-x: 620px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:left;
}
.content{
    position: absolute;
height: 604.59px;
width: 450px;
top: 222.89px;
align-items: center;
margin-left: 135px;
}
.promo-title{
    position: absolute;
height: 72px;
left: 0%;
right: 10%;
top: -8.89px;
}
.promo-title-weign{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 71px;
}
.text{
    position: absolute;
    width: 551px;
    height: 99px;
    top: 250.11px;
}
.promo-text{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 34px;
letter-spacing: 0.3px;
}
.line{
    position: absolute;
height: 115px;
top: 384.59px;
}
.rectangle1{
    position: absolute;
height: 82px;
width: 450px;
top: -0.48px;
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.07);
border-radius: 200px;
}
.email{
    position: absolute;
width: 210px;
height: 34px;
left: 37px;
top: 23.52px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 34px;
letter-spacing: 0.3px;
color: rgba(0, 0, 0, 0.37);
outline: none;
border: none;
}
.rectangle2{
    position: absolute;
height: 69px;
width: 162px;
left: 62.22%;
right: 1.78%;
top: 5.52px;
background: #007188;
border-radius: 200px;
align-items: center;
text-align: center;
}
.learn{
    position: absolute;
    width: 95px;
    height: 34px;
    text-align: center;
    margin-left: 34px;
    margin-top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.points{
    position: absolute;
height: 105px;
left: 0%;
right: 0%;
top: 499.59px;
}
.getStart{
max-width: 1440px;
height: 763px;
background-color: white;
justify-content: center;
margin-top: 80px;
align-items: center;
}
.GS-elements{
    max-width   : 1440px;
    height: 93px;
    display: flex;
    text-align: center;
}
.frames{
    width: 360px;
    height: 93px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.num{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 62px;
color: #041011;
}
.num1{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
color: #041011;
margin-top: 23px;
}
.num2{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 25px;
letter-spacing: 0.3px;
color: #041011;
text-align: center;
}
.break{
    flex-basis: 100%;
    height: 0px;
}
.getEasy{
    height: 590px;
    width: 1140px;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}
.GEBackground{
    background-image: url(../img/Background.png);
    height: 590px;
    width: 1140px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.GSIEBlock{
    width: 646px;
    height: 175px;
    text-align: center;
    margin-top: 120px;
}
.GSIE{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 56px;
color: #041011;
}
.GSElements{
    width: 970px;
    height: 175px;
    display: flex;
}
.GSElement{
    width: 323.33px;
    height: 175px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.GSText{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 29px;
letter-spacing: 0.3px;
color: #041011;
}
.Oval{
    background-image: url(../img/Oval.png);
    height: 62px;
    width: 61px;
}
.OvalNum{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 60px;
color: #002E8C;
}
.decoBlock{
    width: 179px;
    height: 104px;
    margin-left: 923px;
    margin-top: 60px;
    background-image: url(../img/Promo-decorative-arrow.png);
}
.champion{
    max-width: 1440px;
    height: 745px;
    margin-top: 83px;
    justify-content: center;
    display: flex;
}
.championMini{
    width: 1140px;
    display: flex;
}
.CPhoto{
    width: 570px;
    height: 668px;
    background-image: url(../img/Section-photo.png);
}
.CText{
    width: 570px;
    height: 338px;
    text-align: left;
    margin-left: 80px;
}
.CTitle{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 43px;
color: #041011;
margin-bottom: 27px;
margin-top: 159px;
}
.CDescription{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 34px;
letter-spacing: 0.3px;
color: #041011;
margin-bottom: 33px;
}
.CLine{
    width: 115px;
    height: 2px;
    background: #007188;
}
.CRef{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 31px;
color: #007188;
text-decoration: none;
}
.featured{
    max-width: 1440px;
    height: 1106px;
    background-color: #F4F9F9;
    justify-content: center;
    align-items: center;
    display: flex;
}
.FContent{
    width: 1140px;
    height: 786px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.FeatTitle{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 51px;
line-height: 56px;
color: #041011;
width: 423px;
height: 56px;
margin-top: 2px;
}
.FPost{
    width: 350px;
    height: 574px;
    background-color: white;
    justify-content: left;
    margin-right: 30px;
    margin-top: 94px;
    border-radius: 12px;
}
.FTag{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FC9C25;
height: 16px;
margin-top: 28px;
margin-left: 30px;
}
.FText{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 33px;
color: #041011;
margin-left: 30px;
margin-top: 13px;
}
.FData{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #909C9D;
margin-left: 30px;
margin-top: 38px;
}
.FPostS{
    width: 350px;
    height: 542px;
    background-color: white;
    justify-content: left;
    margin-right: 30px;
    margin-top: 94px;
    border-radius: 12px;
}
.FButton{
background: #007188;
border-radius: 5px;
width: 166px;
height: 58px;
margin-top: 60px;
display: flex;
align-items: center;
justify-content: center;
}
.BText{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
}
.FAll{
    text-decoration: none;
}
.elevate{
    max-width: 1440px;
    height: 827px;
    justify-content: center;
    display: flex;
}
.elevateMini{
    width: 1140px;
    height: 667.7px;
    display: flex;
}
.EText{
    width: 570px;
    height: 295px;
    margin-top: 186.34px;
    margin-left: 80px;
}
.ETitle{
    margin-top: 6px;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 43px;
color: #041011;
}
.EDiscription{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;
letter-spacing: 0.3px;
color: #041011;
margin-top: 27px;
}
.ERef{
    text-decoration: none;
    height: 39px;
}
.EE{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 31px;
color: #007188;
margin-top: 30px;
}
.ELine{
    width: 181px;
    height: 2px;
    background-color: #007188;
    margin-top: 5px;
}
.reviews{
    max-width: 1440px;
    height: 1168px;
    background-color: #F4F9F9;
    display: flex;
    justify-content: center;
}
.RContent{
    width: 1140px;
    height: 848px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:0 auto
}
.RTitle{
    margin-top: 160px;
}
.RTText{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 56px;
color: #041011;
}
.RArrow{
    width: 174px;
    height: 104px;
}
.rev{
    width: 1110px;
    height: 688px;
    display: flex;
}
.mainRev{
    width: 525px;
    background-image:url(../img/RBackground.png);
    height: 492px;
}
.stars{
    margin-top: 60px;
    margin-left: 60px;
}
.MRText{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 40px;
letter-spacing: 0.3px;
color: #041011;
margin-left: 60px;
margin-top: 29px;
}
.RAuthor{
    width: 405px;
    height: 62.59px;
    margin-left: 60px;
    margin-top: 35px;
   display: flex;
}
.RAText{
    margin-left: 14px;
    margin-top: 11px;
}
.blackText{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 26px;
color: #041011;
}
.greyText{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 19px;
letter-spacing: 1px;
text-transform: uppercase;
color: #818788;
}
.secondaryRev{
    width: 555px;
    height: 688px;
    margin-left: 30px;
}
.MRText2{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 29px;
letter-spacing: 0.3px;
color: #041011;
margin-left: 58px;
margin-top: 29px;
}
.mainRev2{
    background-image: url(../img/RBackgound2.png);
    width: 525px;
    height: 299px;
}
.mainRev3{
    background-image: url(../img/RBackground3.png);
    width: 525px;
    height: 329px;
    margin-top: 30px;
}
.author2{
    width: 44px;
    height: 44px;
    margin-top: 8px;
}
.signUp{
    max-width: 1440px;
    height: 468px;
    background-image: url(../img/SUBackground.png);
    justify-content: center;
    display: flex;
}
.SUFrame{
    width: 802.5px;
    height: 232px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    align-items: center;
}
.plane-inverted{
    width: 87px;
    height: 98px;
    margin-top: 329px;
}
.plane{
    width: 87px;
    height: 98px;
    margin-top: 38px;
}
.Sub-Title{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
letter-spacing: 2px;
text-transform: uppercase;
color: #F7FAFF;
}
.SUTitle{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 51px;
line-height: 56px;
color: #FFC8C8;
margin-top: 4px;
}
.SURectangle1{
    width: 803px;
    height: 82px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.07);
    border-radius: 200px;
    margin-top: 43px;
    display: flex;
    align-items: center;
}
.SURectangle2{
    width: 162px;
    height: 69px;
    background-color: #007188;
    border-radius: 200px;
    margin-left: 375px;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.SUemail{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 34px;
letter-spacing: 0.3px;
color: rgba(0, 0, 0, 0.37);
outline: none;
border: none;
margin-left: 32px;
}
.Sub{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 34px;
letter-spacing: 0.3px;
color: #FFFFFF;
}
.footer{
    max-width: 1440px;
    height: 695px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.FNavigation{
    width: 1140px;
    height: 265px;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
}
.FLogo{
    margin-left: 48px;
    width: 118px;
    height: 40px;
}
.sitemap{
    margin-left: 167px;
    width: 189px;
}
.FTitle{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 17px;
letter-spacing: 1px;
text-transform: uppercase;
color: #041011;
height: 18px;
margin-bottom: 8px;
}
.FLink{
    text-decoration: none;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
color: #818788;
}
.FArrow{
    width: 21px;
    height: 21px;
}
.social{
    margin-left: 96px;
    width: 189px;
}
.getApp{
    margin-left: 96px;
    width: 189px;
}
.FInfo{
    width: 759px;
    height: 250px;
    margin-bottom: 80px;
    margin-left: 290px;
}
.copyright{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 26px;
letter-spacing: 0.3px;
color: #041011;
width: 314px;
height: 50px;
margin-top: 133px;
}
.policy{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: #818788;
margin-top: 40px;
}